
- entry.class.column_names.each do |column_name|
  %td
    = entry.send(column_name)
%td
  .pull-right
    = button_to :Edit, {controller: params[:controller], action: :edit, id: entry[:id]},
                        method: :get, remote: true, class: "btn btn-primary btn-sm"
