= model
:javascript
  var r = Math.random(1) + "";
  var model = "#{model}"
  var cruds_express  = $.extend(cruds_express || {}, #{cruds_express.to_json})
  console.log(model)

%button.btn.test
  test
:javascript
  $('button').click(function(){
    console.log(model)
  });
