- table_name = entry_list.table.name

:javascript
  var table_name = "#{table_name}"
  var tables = tables || {}
  tables[table_name] = #{entry_list.to_json}
  //var cruds_ajaxs = cruds_ajaxs || {}
  //cruds_ajaxs[table_name] = #{entry_list.cruds_ajax.to_json}

%table.table
  %thead
    %tr
      - model_name = entry_list.first.model_name.to_s unless entry_list.blank?
      - entry_list.column_names.each do |column_name|
        - hidden = cruds_helper.hidden?(model_name, column_name)
        - unless hidden
          %td
            = column_name
      %td
        .pull-right
          - crud = Hash.new
          - crud[:create] = Hash.new
          - crud[:create][:url] = url_for entry_list.url_for_params(:create, id: 0)
          - crud[:create][:method] = :post
          %button.btn.btn-danger.btn-sm{"data-target" => "#model-#{table_name}", "data-toggle" => "modal", :type => "button", :data => {:action => :create, :todo => :new, :crud => crud.to_json, :model => User}}
            = "+"
  %tbody
    - entry_list.each do |entry|
      %tr
        - entry_list.column_names.each do |column_name|
          - value = entry.send(column_name)
          - hidden = cruds_helper.hidden?(entry.model_name.to_s, column_name)
          - unless hidden
            %td
              - case entry_list.cruds_type(column_name)
              - when :enum
                %select{:disabled => true}
                  - entry.defined_enums[column_name].each do |k, v|
                    %option{:value => k, :selected => entry.send("#{k}?")}
                      = k
              - when :string
                = value
              - when :date, :datetime, :timestamps
                = value.to_s(:long) unless value.blank?
              - else
                = value
        %td
          .pull-right
            - id = entry.send(:id)
            - crud = Hash.new
            - entry_list.cruds_ajax.each do |func, c|
              - crud[func] = Hash.new
              - crud[func][:url] = url_for entry_list.url_for_params(func, id: id)
              - crud[func][:method] = c[:method]
            %button.btn.btn-primary.btn-sm{"data-target" => "#model-#{table_name}", "data-toggle" => "modal", :type => "button",
            :data => {:action => :update, :todo => :edit, :id => entry.send(:id), :crud => crud.to_json, :model => entry.model_name } }
              = :Edit
.modal.fade{:id => "model-#{table_name}", "aria-labelledby" => "model-#{table_name}-title", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title{:id => "model-#{table_name}-title"} Modal title
      .modal-body
        %form{:data => {:remote => true} }
          - entry_list.column_names.each do |column_name|
            - model_name = entry_list.first.model_name.to_s unless entry_list.blank?
            - disabled = !cruds_helper.permit?(model_name, column_name)
            - hidden = cruds_helper.hidden?(model_name, column_name)
            - form_control_id = "model-#{table_name}-#{column_name}"
            - clazz = disabled ? :hide : nil
            - unless hidden
              .form-group
                - unless disabled
                  %label.control-label{:for => form_control_id}
                    = "#{column_name}:"
                - case entry_list.cruds_type(column_name)
                - when :enum
                  %select.form-control{:id => form_control_id, :disabled => disabled,
                  :name => column_name, :class => clazz}
                    - entry_list.defined_enums[column_name].each do |k, v|
                      %option{:value => k}
                        = k
                - when :string
                  %input.form-control{:id => form_control_id, :type => "text", :disabled => disabled,
                  :name => column_name, :class => clazz}
                - when :text
                  %textarea.form-control{:id => form_control_id,
                  :name => column_name, :class => clazz}
                - when :datetime, :timestamps
                  %input.form-control{:id => form_control_id, :type => "text", :disabled => disabled,
                  :name => column_name, :class => clazz}
                - when :date
                  %input.datepicker.form-control{:id => form_control_id, :type => "text",
                  :name => column_name, :class => clazz}

      .modal-footer
        %button.btn.btn-default.btn-cancel{"data-dismiss" => "modal", :type => "button"} Cancel
        %button.btn.btn-danger.btn-submit{:type => "button", disabled: true} Save

:javascript
  function findRecord(table_name, id){
    for (i in tables[table_name]){
      if (tables[table_name][i].id == id){
        return tables[table_name][i];
      }
    }
    return null;
  }

  function convertForm(model, form){
    var result = {}
    result.model = model;

    for (i in form.serializeArray()){
      serializeArray[i]
    }
  }

  $(function() {
    $('.modal').on('show.bs.modal', function (event) {
      var modal = $(this);
      var button = $(event.relatedTarget); // Button that triggered the modal
      var buttonSubmit = modal.find('.btn-submit').prop('disabled', true)
      var buttonCancel = modal.find('.btn-cancel')
      var action = button.data('action');
      var todo = button.data('todo');
      var id = button.data('id');
      var model = button.data('model')
      var crud = button.data('crud');
      var form = modal.find('form');
      var changed = false;

      modal.find('.modal-title').text( todo + ' ' + table_name + (id ? " #" + id : ""));
      modal.find('.form-control').change(function(){
        console.log('change')
        changed = true;
        buttonSubmit.prop('disabled', false);
      }).each(function(){
        var record = findRecord(table_name, id);
        if (record){
          this.value = record[this.name]
        }
      });
      modal.find('.btn-submit').click(function(){
        if (changed){
          $.ajax({
            method: crud[action].method,
            url: crud[action].url,
            beforeSend: function(request){
                request.setRequestHeader("cruds_EXPRESS_MODEL", model);
              },
            data: form.serializeArray()
          }).done(function(resp){
            console.log(resp);
            modal.modal('hide');
          }).fail(function(resp){
            console.log(resp);
            modal.modal('hide');
          });
        }
      });
    })
    $('.modal').on('hide.bs.modal', function (event) {
      var form = $(this).find('form').get(0).reset();
    });
    $(".datepicker").datepicker({
      orientation: "left",
      autoSize: true
    });
  });
:css
  .ui-datepicker {
    z-index: 2000;
    background-color: white;
  }

  .modal .form-control{
    text-align: center;
  }
